@charset "UTF-8";
body {
  font-family: Ariel, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #FFFAFA url(hollyberry.png) no-repeat center 100px fixed;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background: url(hollygroup.jpg) center top repeat-x;
  background: 
    url(hollygroup.jpg) left top repeat-y,
    url(hollygroup.jpg) right top repeat-y,
    url(hollygroup.jpg) 90% bottom no-repeat;
  background-color: rgba(139,0,0,.5);
}

a {
  text-decoration: none;
}
a:link {
  color: #8B0000;
}
a:visited {
  color: #2E8B57;
}
a:focus, a:hover {
  color: #3CB371;
  background-color: #fff;
}
a:active {
  color: #f0f;
  background-color: #fff;
  
p b {
    color: #8B0000;
}


h1 {
  font: bold 1.5em Ariel, serif;
  text-shadow: .05em .05em .1em lightslategray;
  color: #7a1537;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #00000;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Ariel, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
